.chat-side
 .chat-side__user
  .chat-side__user-name  user_name
  .chat-side__user__new-group 
   .i.fa.fa-pencil-square-o
  .chat-side__user__edit-user 
   .i.fa.fa-cog

 .chat-side__groups
  .chat-side__groups-list
   .chat-side__groups-list__name グループ1
   .chat-side__groups-list__message まだメッセージはありません
   .chat-side__groups-list__name グループ2
   .chat-side__groups-list__message まだメッセージはありません

.chat-main
 .chat-main__header
  .chat-main__header__group--edit--btn Edit
  .chat-main__header__group
   .chat-main__header__group__name グループ1
   .chat-main__header__group__members MEMBER user_name
