= render "layouts/side"
.chat-main
 .chat-main__header
  .chat-main__header__group--edit--btn 
   = link_to "Edit", edit_group_path()
  .chat-main__header__group
   .chat-main__header__group__name
    = @group.name 
   .chat-main__header__group__members

 %ul.chat-main__body
  %li.chat-main__body__message-name user_name
  %li.chat-main__body__message-date 2017/1/8 20:35:17
  %li.chat-main__body__message-body こんにちは
  %li.chat-main__body__message-name user_name2
  %li.chat-main__body__message-date 2017/1/8 20:37:17
  %li.chat-main__body__message-body こんにちは
  
 .chat-main__footer
  .chat-main__footer__form
   .chat-main__footer__form__form--send--btn Send
   .chat-main__footer__form__picture
    .i.fa.fa-picture-o 
   %input.chat-main__footer__form__input-form{ type: "text", placeholder:"type a message"}
