html, body{
  height: 100%;

  .chat-side{    
    height: 100%;
    width: 300px;
    float: left;
  .fa{color: $white;}
    &__user{
     background-color: #253141;
     height: 15%;
     width: 100%;
     position: relative; 
     box-sizing: border-box;

      &__name{
       color: $white;
       font-size: 16px;
       font-weight: bold;
       margin: 0 20px;
       position: relative;
       display: inline-block;
       }
      &__new-group{
        margin-left: 90px;
      	display: inline-block;
      	line-height: 100px;
      }	

      &__edit-user{
      	display: inline-block;
      	padding-left: 5px;
      	line-height: 100px;
      }
    }
    &__groups{
    	background-color: #2f3e51;
    	height: 85%;
    	width: 100%;
    }
    &__groups-list{
    	min-height: 100%;
    	padding: 20px 40px;
      &__name{
     	color: $white;
     	font-size: 15px;
      }	
      &__message{
     	color: $white;
     	font-size: 11px;
     	padding-top: 5px;
     	padding-bottom: 40px;
      }
    }
  } 

   .chat-main{
   	height: 100%;
   	width: calc( 100% - 300px );
   	float: left;

   	&__header{
   		height: 15%;
   		border: 1px solid #eeeeee;
      &__group--edit--btn{
        font-size: 15px;
        padding: 12.5px 20px;
        border: 2px solid $pale-blue;
        color: $pale-blue;
        background-color: $white;
        text-align: center;
        margin: 28px 40px;
        float: right;
         }  
   	  &__group{
   	  	margin: 0 40px;
   	  	&__name{
   	  		margin-top: 35px;
   	  		margin-bottom: 15px;
   	  		font-size: 20px;
   	  		color: #333333;
   	  	}
        &__members{
          font-size: 14px;
          color: $gray;    
        }
  	  }
   	}
    &__body{
      height: calc( 85% - 136px );
      padding-top: 46px;
        padding-left: 40px;
        padding-right: 40px;
          &__message-name{
            color: #434A54;
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
            float: left;
          }
          &__message-date{
            color: $gray;
            font-size: 12px;
            float: left;
            padding-bottom: 10px;
          }
          &__message-body{
            color: #434A54;
            font-size: 14px;
            clear: both;
            padding-bottom: 40px;
          }
    }
    &__footer{
        background-color: #AAAAAA;
        height: 90px;
        width: 100%;   
        &__form{
          padding: 20px 40px;}
        .send--btn{
           font-size: 15px;
           padding: 12.5px 20px;
           margin-left: 15px;
           margin-right: 10px;
           color: $white;
           background-color: $pale-blue;
           text-align: center;
           float: right;
           }
        .input-form{
           float: left;
           line-height: 50px;
           border-style: none;
           width: 720px;
           padding: 0 10px;
           }

        .fa{
           background-color: $white;
           line-height: 50px;
           margin-right: 10px;
           padding: 0 10px; 
           }
        .hidden{
          display: none;
        } 
    }
   }  

   

    	



    
   
   

    





 
}
